name: Deploy to Dev

on:
    push:
        branches:
            - develop

concurrency:
    group: deploy-to-dev-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: npm
                  cache-dependency-path: '**/package-lock.json'

            - name: Install dependencies
              run: npm ci --no-audit --no-fund

            - name: Build
              run: npm run build

            - name: Create issue if build fails
              if: failure()
              uses: JasonEtco/create-an-issue@v2
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  ACTION_TYPE: 'Build and Deploy'
                  URL_ACTION_RUN: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
                  BRANCH: ${{ github.ref }}
              with:
                  assignees: ${{ github.event.sender.login }}
    deploy:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Login to Docker hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: Get repository name
              id: repo-name
              uses: MariachiBear/get-repo-name-action@v1.1.0
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Build and push
              uses: docker/build-push-action@v5
              with:
                  context: .
                  file: ./Dockerfile
                  push: true
                  tags: |
                      ${{ secrets.DOCKERHUB_USERNAME }}/${{steps.repo-name.outputs.repository-name}}-dev:latest
                      ${{ secrets.DOCKERHUB_USERNAME }}/${{steps.repo-name.outputs.repository-name}}-dev:${{github.sha}}
            - name: Deploy to Dev - Render
              uses: fjogeleit/http-request-action@v1
              with:
                  url: ${{ secrets.RENDER_DEPLOY_HOOK }}
                  method: GET

            - name: Create issue if build fails
              if: failure()
              uses: JasonEtco/create-an-issue@v2
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  ACTION_TYPE: 'Deploy to Dev'
                  URL_ACTION_RUN: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
                  BRANCH: ${{ github.ref }}
              with:
                  assignees: ${{ github.event.sender.login }}
