name: Lint

on:
    push: null

concurrency:
    group: lint-${{ github.ref }}
    cancel-in-progress: true

permissions: {}

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: read
            statuses: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: npm
                  cache-dependency-path: '**/package-lock.json'

            - name: Install dependencies
              run: npm ci --no-audit --no-fund

            - name: Lint
              run: npm run lint

            - name: Create issue if lint fails
              if: failure()
              uses: JasonEtco/create-an-issue@v2
              env:
                  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
                  ACTION_TYPE: 'Lint'
                  URL_ACTION_RUN: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
                  BRANCH: ${{ github.ref }}
              with:
                  assignees: ${{ github.event.sender.login }}
